<h1>Alterar Rocket Action</h1>
<%= form_for @rocket_action, url: rocket_action_path(@rocket_action.id), method: :put do |form| %>
  <p>
    <%= form.label :name, "Nome" %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :points, "Pontos" %><br>
    <%= form.text_field :points %>
  </p>

  <p>
    <%= form.submit 'Alterar'%>
  </p>
<% end %>

<%=link_to "Ver Rocket Actions", employees_path%>
