<% unless @error.nil? %>
  <h3><%= @error%></h3>
<%end%>
<h1>Associar Rocket Action </h1>
<%= form_for :associate_rocket_action, url:  associate_rocket_action_to_employee_path(@employee.id), method: :post do |f| %>
  <p>
    <%= f.label :rocket_action, "Seleccione o Rocket Action que pertende associar ao empregado:" %><br>
    <%= f.collection_select(:rocket_action_id, RocketAction.select{ |r|  @employee.rocket_action_ids.exclude? r.id}, :id, :name) %>
  </p>

    <%= f.submit 'Guardar'%>
  </p>
<% end %>

<p><%=link_to "Voltar", employee_path(@employee.id)%></p>
<p><%=link_to "Home", root_path%></p>
